! display settings
URxvt.depth: 24

! DejaVuSans contains braille glyphs (for btm)
! Noto Color Emoji contains emojis
URxvt.font: xft:Hack:size=12,xft:DejaVuSans:size=12,xft:Noto Color Emoji:size=12
URxvt.boldFont: xft:Hack:size=12,xft:DejaVuSans:size=12,xft:Noto Color Emoji:size=12
URxvt.italicFont: xft:Hack:size=12,xft:DejaVuSans:size=12,xft:Noto Color Emoji:size=12
URxvt.boldItalicFont: xft:Hack:size=12,xft:DejaVuSans:size=12,xft:Noto Color Emoji:size=12

URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false

! Disable PERL extensions
URxvt.perl-ext:
URxvt.perl-ext-common:


! Scroll bar is not needed, Zellij buffer is used instead
URxvt.iso14755:             false
URxvt.saveLines:            0
URxvt.scrollBar:            false
URxvt.scrollBar_floating:   false
URxvt.scrollBar_right:      false
URxvt.urgentOnBell:         true

! Scroll locking
URxvt.scrollTtyOutput:      false
URxvt.scrollWithBuffer:     false
URxvt.scrollTtyKeypress:    true

! Generate the same codes as xterm for Ctrl + arrows
! Otherwise programs such as Helix and Bottom wont pick them up
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

URxvt.keysym.M-Down:        \033[1;3B
URxvt.keysym.M-Up:          \033[1;3A
URxvt.keysym.M-Left:        \033[1;3D
URxvt.keysym.M-Right:       \033[1;3C

! Catppuccin Mocha
! special
URxvt.background: #1E1E2E
URxvt.foreground: #CDD6F4
URxvt.cursorColor: #F5E0DC

! black
URxvt.color0: #45475A
URxvt.color8: #585B70

! red
URxvt.color1: #F38BA8
URxvt.color9: #F38BA8

! green
URxvt.color2: #A6E3A1
URxvt.color10: #A6E3A1

! yellow
URxvt.color3: #F9E2AF
URxvt.color11: #F9E2AF

! blue
URxvt.color4: #89B4FA
URxvt.color12: #89B4FA

! magenta
URxvt.color5: #F5C2E7
URxvt.color13: #F5C2E7

! cyan
URxvt.color6: #94E2D5
URxvt.color14: #94E2D5

! white
URxvt.color7: #BAC2DE
URxvt.color15: #A6ADC8
