layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="Test" {
        pane split_direction="vertical" {
            pane stacked=true {
                pane
                pane
            }
            pane stacked=true {
                pane
                pane
            }
        }
    }

    tab name="Edit" focus=true {
        pane
    }

    tab name="Git" {
        pane split_direction="vertical" {
            pane stacked=true {
                pane command="lazygit" start_suspended=true
                pane size="20%"
            }
        }
    }

    tab name="Files" {
        pane
    }
}
