layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="Process" {
        pane split_direction="Vertical" {
            pane command="btm"
        }
    }

    tab name="X" {
        pane split_direction="Vertical" {
            pane command="psql" start_suspended=true {
                args "td_main_test" 
            }
        }
    }
}
